body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 250px;
}

.sidebar-links {
  list-style-type: none;
  padding: 0;
}

.sidebar-links li {
  margin: 20px 0;
}

.sidebar-links a {
  color: #76ff03;
  text-decoration: none;
  font-weight: bold;
}

.sidebar-links a:hover {
  color: #64dd17;
}

.central {
  flex: 1;
  padding: 20px;
}

.top-quote {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-content {
  background-color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 0;
  color: #76ff03;
}

.widget-tray {
  padding: 20px;
}

.time {
  text-align: right;
  color: #76ff03;
}

.footer {
  background-color: #1e1e1e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer table {
  width: 100%;
}

.footer th, .footer td {
  text-align: left;
  padding: 5px 0;
}

.footer a {
  color: #007BFF;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

hr {
  size: 4px;
  color: yellow;
}

figcaption {
  text-align: right;
}

a:link {
  color: yellow;
  text-decoration: none;
}

a:active {
  color: yellow;
  text-decoration: underline;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}

a:visited {
  color: red;
  text-decoration: none;
}